/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://cdn.jsdelivr.net/npm/inter-ui@3.7.0/inter.css');

body {
  font-family: 'Inter', sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border-bottom: 1px solid #eee;
  background: #fafafa;
  /*box-shadow: 0 0 12px rgba(0,0,0,0.1);*/
}

.container {
  max-width: 500px;
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 30px 60px;
  margin: 0 auto;
  /*box-shadow: 0 12px 12px rgba(0,0,0,0.1);*/
  /*background: white;*/
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2f80ba;
}

a:hover {
  text-decoration: underline;
  color: #444;
}
