// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;

  li {
    padding: 15px;
    border-bottom: 1px solid #eee;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0;
    }

    .description {
      font-size: 0.8rem;
      color: #444;
    }
  }
}

.icons {
  float: right;
}
